body {
  background-color: black;
}
h1 {
  color: aliceblue;
  align-items: center;
  text-transform: uppercase;
  text-align: center;
  font-family: "Libre Baskerville", serif;
  width: 70%;
  margin-left: 17%;
}
h3 {
  color: aliceblue;
  text-transform: uppercase;
  text-align: center;
  font-family: "Libre Baskerville", serif;
  width: 70%;
  margin-left: 15%;
}
.image {
  width: 80%;
  margin-left: 10%;
  margin-top: 100px;
  border: 5px solid white;
}
